
#disable_welcome {
    display:none;
}

.disable_welcome_position
{
    margin: -139px auto 0px auto;
    padding-left: 39px;
    padding-top: 7px;
    width: 269px;
    height: 31px;
    display:block;
}

#disable_welcome + label
{
    background-image: url(../images/welcome_page/disable-welcome.png);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 16px;
    color: #acacac;
    z-index: $zindex2;

}

#disable_welcome:checked + label
{
    background-image: url(../images/welcome_page/disable-welcome-selected.png);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-repeat: no-repeat;

    font-size: 16px;
    font-weight: bold;
    color: #acacac;
    z-index: $zindex2;
}
#welcome_page_title{
    font-weight: bold;
    font-size: 38px;
    margin-top: 0;
}
#welcome_page_subtitle{
    font-size: 16px;
    color: $lightGrey;
    font-weight: bold;
    margin-top: 15px;
}
#dummy_text{
    font-size: 16px;
    color: $lightGrey;
    font-weight: bold;
    margin-top: 15px;
}
#page_number{
    font-size: 20px;
    color: $lightGrey;
    font-weight: bold;
    margin-top: 15px;
}
#enter_room_form {
    border-radius: 1px;
    background-color: #FFFFFF;
    border: black  1px ;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -webkit-appearance: none;
    //height: 55px;
    box-shadow: none;
    //float: left;
}

.domain-name
{
    float: left;

    //line-height: 55px;
    font-size: 18px;
    font-weight: bold;
    //padding-left: 20px;
    color: $lightGrey;
}

.enter-room {
    &__field {
        font-size: 18px;
        border: none;
        -webkit-appearance: none;
        width: 228px;
        //height: 55px;
        //line-height: 55px;
        font-weight: bold;
        box-shadow: none;
        color: $darkGrey;
       // float: left;
        background-color: #FFFFFF;
        position: relative;
        z-index: $zindex2;
    }

    &__reload {
        display: block;
        width: 30px;

        font-size: 1.9em;
        color: $darkGrey;
        //line-height: 55px;
        z-index: $zindex3;
        float:  left;
        cursor: pointer;
        text-align: center;
    }

    &__button {
        width: auto;
        height: auto;
        line-height: normal;
        background-color: #21B9FC;
        moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        color: #ffffff;
        font-weight: 700;
        border: none;

        margin-top: 20px;
        font-size: 22px;
        padding: 14px;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
        //float:right;
        position: relative;
        z-index: $zindex2;
    }
}

#enter_room_container {
    //margin: 70px auto 0px auto;
    //display: table;

    padding: 50px;
}

#enter_room{
    //float:left;
    padding-right: 5px;
}

#welcome_page_header
{
    background-color:white;
    height: 100vh;
    width: 50%;
    position: relative;
    float: left;

}

#welcome_page_main
{
    //background-color: yellow;
    width: 50%;
    position: relative;
    height: 100vh;
    float: right;
    background: gold;
}

#brand_header
{
    background-image:url(../images/welcome_page/header-big.png);
    width: 583px;
    height: 274px;
    margin: -110px auto 0px auto;
}
#welcome_page_logo{
    background-image: url(../images/logo.png);
    border:0;

    width: 186px;
    height: 74px;

    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 2;
}
#header_text
{
    width: 885px;
    height: 100px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: 0px auto 0px auto;
}

#features
{
    //margin-top: 30px;
    position: relative;
    background-image: url(https://meet.buddhikajay.pro/images/sol/setProfileAllowAccess/video_conference_icon.png);
    height: inherit;
    background-repeat:no-repeat;
    background-position:center ;

    //background-color: goldenrod;
    //background-repeat: no-repeat;

}

.feature_row
{
    position: relative;
    width: 976px;
    margin: 0px auto 30px auto;
    padding-right: 75px;

}

.feature_holder
{
    float:left;
    width: 169px;
    padding-left: 75px;
    padding-bottom: 30px;
}

.feature_icon
{
    background-image:url(../images/welcome_page/bubble.png);
    background-repeat: no-repeat;
    width: 169px;
    height: 169px;
    color: #ffffff;
    font-size: 22px;
    /*font-weight: bold;*/
    text-align: center;
    display: table-cell;
    padding: 50px 26px 0px 20px;
}

.feature_description
{
    width: 190px;
    color: #ffffff;
    font-size: 16px;
    padding-top: 30px;
    line-height: 22px;
    font-weight: 200;
}
#javvii-container
{
display: block;
    float: left;
    overflow: hidden;
}
.gravatar{

    display: block;
    float: right;
    //width: 150px;
    height: auto;
    display: inline-block;
    margin-left: 72px;

    //padding: 10px;
}
.javvii{

    display: block;
    float: left;
    //width: 150px;
    height:auto;
    display: inline-block;

    //padding: 10px;
}
.domain-box{
    font-size: 18px;
    -webkit-appearance: none;
    border:  2px solid $lightGrey ;
    //height: 55px;
    //line-height: 55px;

    font-weight: bold;
    box-shadow: none;
    //float: right;
    background-color: #FFFFFF;
    position: relative;
    z-index: $zindex2;
    border-radius: 7px;
    padding: 15px;

    margin-top: 14px;
    margin-bottom: 14px;
}
.javvii-box{

    font-size: 18px;
    -webkit-appearance: none;
    border:  2px solid $lightGrey ;
    //height: 55px;
    //line-height: 55px;
    width: 255px;
    font-weight: bold;
    box-shadow: none;
    //float: right;
    background-color: #FFFFFF;
    position: relative;
    z-index: $zindex2;
    border-radius: 7px;
    padding: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.welcomePageLabel{
    font-size: 20px;
    font-weight: bold;
    color: $darkGrey;

}
.welcomePageInput{
    font-size: 20px;
    font-weight: bold;
    color: $darkGrey;

}
.custom-button{

}


